.form {
  display: flex;
  align-items: center;
  margin: 4em;
  justify-content: center;
}

.input-search {
  font-size: 1.5rem;
  text-align: center;
  width: 50%;
  border-radius: 0.5rem;
}
.input-search:focus::placeholder {
  color: transparent;
}

body {
  background: linear-gradient(0.8turn, rgb(92, 204, 142), rgb(44, 157, 233));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  margin-top: 3.5rem;
  font-size: 3.6rem;
  text-align: center;
  font-family: "Goblin One", cursive;
  overflow: hidden;
  background: linear-gradient(
    to right,
    midnightblue,
    midnightblue 50%,
    rgb(248, 248, 248) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
h1:hover {
  background-position: 0 100%;
}
img {
  border-radius: 1.5rem;
}

.recipe-card {
  justify-self: center;
  place-items: center;
  display: grid;
  padding: 20px;
  margin-bottom: 4rem;
  width: 50%;
  background-color: whitesmoke;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  box-shadow: 0 20px 20px rgba(29, 29, 29, 0.452), 10px 0 20px;
}

.recipe-card li {
  list-style-type: square;
}

.container {
  display: grid;
}
.recipe-img {
  transition: transform 0.2s;
}
.recipe-img:hover {
  transform: scale(1.5);
}
